{% extends 'base.html.twig' %}

{% block title %}Demande de devis{% endblock %}

{% block content %}
    <!-- Contact -->
    <div id="contact" class="form-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Demande de Devis</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-10 offset-lg-1">

                    <!-- Contact Form -->
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_row(form._token) }}
                    <form>
                        <div class="form-group">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.company) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.phone) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.website) }}
                        </div>
                        <div class="form-group">
                            <div class="form-control-checkbox-label">Pack</div>
                            {{ form_row(form.pack) }}
                        </div>
                        <div class="form-group">
                            <div class="form-control-checkbox-label">Option(s)</div>
                            {{ form_row(form.options) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.message) }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">Envoyer</button>
                        </div>
                    </form>
                    {{ form_end(form) }}
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    <!-- end of contact -->
{% endblock %}

